# ============================================================
# Configuración general
# ============================================================

# Archivo de log
LOG_FILE="/var/log/rclone_log.txt"

# TRUE o FALSE para realizar dry-run
DRY_RUN="TRUE"

# Modo de operación:
#
# SYNC = sincronización normal mediante "rclone sync"
# TAR  = crear un TAR y copiarlo al destino mediante "rclone copy"
#
BACKUP_MODE="TAR"


# ============================================================
# Configuración para modo TAR
# ============================================================

# Carpeta temporal donde se generan los archivos TAR
TAR_PATH="/var/backups/rclone"

# Cantidad de copias TAR a conservar en el remoto
RETENTION_COPIES=8


# ============================================================
# Opciones para rclone
# ============================================================

# Para Google Drive:
# --progress \
# --transfers=4 \
# --checkers=8 \
# --drive-acknowledge-abuse

# Para Livedrive:
# --progress \
# --transfers=1 \
# --checkers=2 \
# --retries=5 \
# --low-level-retries=20 \
# --timeout=5m \
# --contimeout=30s \
# --stats=60s \
# --stats-one-line

RCLONE_OPTIONS="\
"


# ============================================================
# Tareas
# ============================================================

# Formato:
# "SOURCE|DESTINATION"
#
# Modo SYNC:
# SOURCE puede ser local o remoto.
#
# Modo TAR:
# SOURCE debe ser un directorio local.

SHARED_DRIVES=(
  "remote1:|/path/to/local/destination"
  "/path/to/local/source|remote2:"
  "remote3:|remote4:"
)